/*=========================================================================
Stylesheet for my CV 03/22

file: style.css
created: 09.03.2022
updated: 17.03.2022
author: Nicole Gottschall

Mind the adjustments for different screen sizes at the end of the stylesheet.
==========================================================================*/

/* TODO:
- add smooth transition when clicking on arrow to jump to bottom part
 */



/*=========================================================================
Variables
==========================================================================*/
:root {
  --very-light-brown: #fefff8;
  --very-dark-grey: #5e5b63;
}

/*=========================================================================
General Styles
==========================================================================*/
body {
  font-family: 'Josefin Sans';
  color: var(--very-dark-grey);
  height: 100vh;
}

h1, h4 {
  margin: 0;
}

h1 {
  font-size: 54px;
}

h4 {
  font-size: 21px;
  font-weight: 300;
}

/*=========================================================================
Layout
==========================================================================*/
.upper-part {
  height: 100%;
  background: url("../images/wavy-background.svg"), url("../images/light-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left, 0;
}

.heading {
  flex: auto;
  line-height: 55px;
}

.bottom-part {
  height: 100vh;
  background-color: var(--very-light-brown);
}

.bottom-containers {
  background-color: var(--very-light-brown);
}

/*=========================================================================
Image Settings
==========================================================================*/
.portrait {
  height: 250px;
  width: 250px;
}

.contact-icon {
  height: 18px;
  width: 18px;
}

.arrow-icon {
  position: absolute;
  left: 50%;
  bottom: 27px;
  height: 50px;
  width: 50px;
}

.skill-icon {
  height: 32px;
  width: 32px,
}

.star-icon {
  margin-right: 5px;
  height: 18px;
  width: 18px;
}


/*=========================================================================
Others
==========================================================================*/
.contact a:link,
.contact a:visited,
.contact a:hover {
  color: var(--very-dark-grey);
  text-decoration: none;
}

ul {
  padding-right: 20px;
  text-align: right;
}

ul li {
  display: inline-block;
  list-style-type: none;
}

table {
  border-collapse: collapse;
}

.skills-table tr{
  border-bottom: .3px solid var(--very-dark-grey);
}

td {
  padding: 10px 25px 10px 0;
}

td.first-column {
  padding-right: 10px;
}

td.second-column {
  padding-right: 40px;
}


/*=========================================================================
Adjustments Mobile (<= 1048px)
==========================================================================*/
@media all and (max-width: 1156px) {
  .introduction-section {
    padding: 15px;
    text-align: center;
  }

  .heading {
    margin: 30px 0;
  }

  .bottom-containers {
    padding: 90px 0 85px;
  }

  .bottom-container {
    margin: 100px auto 0;
    width: 350px;
  }

  ul li {
    padding: 20px 7px;
  }

  li span {
    display: none;
  }
}

/*=========================================================================
Adjustments Desktop (>= 1048px)
==========================================================================*/
@media all and (min-width: 1156px) {
  .introduction-section {
    display: flex;
    margin: 100px auto 0;
    padding: 120px;
    max-width: 800px;
  }

  .bottom-containers {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 1200px;
  }

  .bottom-container {
    padding: 30px;
    width: 400px;
  }

  .contact-icon {
    margin-right: 5px;
    vertical-align: middle;
  }

  ul li {
    padding: 20px 40px;
  }
}
