/*=========================================================================
Stylesheet for my CV 03/22

file: style.css
created: 09.03.2022
updated: 17.03.2022
author: Nicole Gottschall

Mind the adjustments for different screen sizes at the end of the stylesheet.
==========================================================================*/

/* TODO:
- add additional design for size between mobile and desktop
- add smooth transition when clicking on arrow to jump to bottom part
 */



/*=========================================================================
Variables
==========================================================================*/
:root {
  --very-light-brown: #fefff8;
  --very-dark-grey: #5e5b63;
}

/*=========================================================================
General Styles
==========================================================================*/
body {
  font-family: 'Josefin Sans';
  color: var(--very-dark-grey);
  height: 100vh;
}

h1, h4 {
  margin: 0;
}

h1 {
  font-size: 75px;
}

h4 {
  font-size: 34px;
  font-weight: 300;
}

/*=========================================================================
Layout
==========================================================================*/
.upper-part {
  height: 100%;
  background: url("../images/wavy-background.svg"), url("../images/light-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left, 0;
}

.heading {
  flex: auto;
  line-height: 70px;
}

.bottom-part {
  height: 100vh;
  background-color: var(--very-light-brown);
}

.bottom-containers {
  background-color: var(--very-light-brown);
}

.me {
  margin-bottom: 75px;
}

.reference {
  display: flex;

}

/*=========================================================================
Image Settings
==========================================================================*/
.portrait {
  height: 350px;
  width: 350px;
}

.contact-icon {
  height: 18px;
  width: 18px;
}

.arrow-icon {
  position: absolute;
  bottom: 27px;
  height: 50px;
  width: 50px;
}

.skill-icon {
  height: 32px;
  width: 32px,
}

.star-icon {
  margin-right: 5px;
  height: 18px;
  width: 18px;
}

.ref-logo {
  margin: 10px 30px 20px 0 ;
  height: 70px;
  width: 70px;
}


/*=========================================================================
Others
==========================================================================*/
a:link,
a:visited,
a:hover {
  color: var(--very-dark-grey);
  text-decoration: none;
}

ul {
  padding-right: 20px;
  text-align: right;
}

ul li {
  display: inline-block;
  list-style-type: none;
}

table {
  border-collapse: collapse;
}

.skills-table tr{
  border-bottom: .3px solid var(--very-dark-grey);
}

td {
  padding: 10px 25px 10px 0;
}

.reference p {
  margin: auto 0;
}


/*=========================================================================
Adjustments Mobile (<= 1048px)
==========================================================================*/
@media all and (max-width: 1156px) {
  body {
    font-size: 36px;
  }

  .introduction-section {
    padding: 5px;
    text-align: center;
  }

  .heading {
    margin: 260px 0 80px;
  }

  .bottom-containers {
    padding: 185px 0 1px;
  }

  .bottom-container {
    margin: 100px auto;
    width: 600px;
  }

  .me {
    margin-bottom: 150px;
  }

  ul li {
    padding: 20px 17px;
  }

  li span {
    display: none;
  }

  .contact-icon {
    height: 35px;
    width: 35px;
  }

  .arrow-icon {
    left: 46%;
  }
}

/*=========================================================================
Adjustments Desktop (>= 1048px)
==========================================================================*/
@media all and (min-width: 1156px) {
  .introduction-section {
    display: flex;
    margin: 100px auto 0;
    padding: 120px;
    max-width: 800px;
  }

  .heading {
    line-height: 55px;
  }

  .bottom-containers {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-43%, -50%);
    display: flex;
    width: 1500px;
  }

  .bottom-container {
    font-size: 20px;
    padding: 30px;
    width: 500px;
  }

  .contact-icon {
    margin-right: 5px;
    vertical-align: middle;
  }

  .portrait {
    height: 250px;
    width: 250px;
  }

  ul li {
    padding: 20px 40px;
  }

  .arrow-icon {
    left: 48%;
  }

  h1 {
    font-size: 54px;
  }

  h4 {
    font-size: 21px;
  }
}
